.logo-img{
 
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
  
}
table{
    border-radius: 5px;
}
.navbar-expand-lg{
justify-content: none;
}
.nav-item {
    margin: 0 20px;
}
.logo-img:hover{
    transform: scale(1.5);
}